[defaults]
inventory = inventory/inventory.ini
roles_path = roles
gathering = explicit
host_key_checking = False
stdout_callback = default
timeout = 30
interpreter_python = auto_silent

[privilege_escalation]
become = false
