[defaults]
inventory = inventory/inventory.ini
roles_path = roles
gathering = explicit
host_key_checking = False
stdout_callback = default
timeout = 30

# Jalankan di salah satu target: -l localhost (live/guest) atau -l vm (SSH)
[privilege_escalation]
become = false